In [1]:
import numpy as np # linear algebra
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("dataset_group.csv")

In [3]:
df.shape

(20641, 3)

In [4]:
df.head()

         Date  Order_id        Product
0  2018-01-01         1         yogurt
1  2018-01-01         1           pork
2  2018-01-01         1  sandwich bags
3  2018-01-01         1     lunch meat
4  2018-01-01         1   all- purpose

In [5]:
df.dtypes

Date        object
Order_id     int64
Product     object
dtype: object

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20641 entries, 0 to 20640
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      20641 non-null  object
 1   Order_id  20641 non-null  int64
 2   Product   20641 non-null  object
dtypes: int64(1), object(2)
memory usage: 483.9+ KB

In [7]:
df.isnull().sum()

Date        0
Order_id    0
Product     0
dtype: int64

In [8]:
df.nunique()

Date         603
Order_id    1139
Product       37
dtype: int64

In [13]:
df['Product'].unique()

array(['yogurt', 'pork', 'sandwich bags', 'lunch meat', 'all- purpose',
       'flour', 'soda', 'butter', 'beef', 'aluminum foil', 'dinner rolls',
       'shampoo', 'mixes', 'soap', 'laundry detergent', 'ice cream',
       'toilet paper', 'hand soap', 'waffles', 'cheeses', 'milk',
       'dishwashing liquid/detergent', 'individual meals', 'cereals',
       'tortillas', 'spaghetti sauce', 'ketchup', 'sandwich loaves',
       'poultry', 'bagels', 'eggs', 'juice', 'pasta', 'paper towels',
       'coffee/tea', 'fruits', 'sugar'], dtype=object)